<header class="main-header">
    <div class="container">
      <!-- Logotipo e nome da plataforma -->
      <div class="logo">
        <a href="index.html" class="logo-link">
          <img src="../assets/images/ipluso_logo.jpg" alt="IPLUSO logo">
          <span class="logo-text">IPLUSO StudentHub</span>
        </a>
      </div>
      <!-- Botão Mobile -->
      <button class="menu-toggle" aria-expanded="false" aria-label="Menu">
          <span class="hamburger"></span>
      </button>
      <!-- Menu de navegação -->
      <nav class="nav-menu">
        <a href="eventos.html">Eventos</a>
        <a href="servicos.html">Serviços</a>
        <a href="contactos.html">Contactos</a>
        <a href="login.html" class="btn-login">Entrar</a>
      </nav>
    </div>
  </header>
